.numbers {
    display: inline-block;
    font-size:25px;
    word-spacing:20px;
}

#footer {
    align-content: center;
}

table {
    font-size:20px;
    text-align: center;
}

.inputText {
    font-size:32px;
}