body {
    color: white;
    background-color: #121212;
}

a {
    color: white;
    text-decoration: none; /* no underline */
}

.btn {
    background-color: rgb(247, 211, 101);
    margin-left: 5px;
    margin-right: 5px;
}

.btn-danger {
    background-color: #dc3545;
}

.numbers {
    display: inline-block;
    font-size:25px;
    word-spacing:20px;
}

#footer {
    align-content: center;
}

table {
    font-size:20px;
    text-align: center;
    color:white !important;
}

.header {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.inputText {
    font-size:32px;
}

.preRollHeader {
    text-align: center;
}

.shimmer {
    font-family: 'Limelight';
    font-size: 6em;
    display: inline;
    margin-bottom: 0;
}

.shimmer {
    text-align: center;
    color: rgb(247, 211, 101, 0.5) !important;
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}

@-moz-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}