<!doctype html>
<html>
  <head>
    {% block head %}
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.3.1/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet"> 
        <title>TUC Lucky Draw</title>
    {% endblock %}
  </head>
  <body>
      <div class="container">
        {% block content %}
        <div class ="row mt-4">
          <div class="col-12 text-center">
            <a href="{{url_for('index')}}"><h1>TMS Plus & PVG Annual Dinner 2022</h1></a>
          </div>
          <div class="col-12 text-center my-4 shimmer">
            Crazy Rich Asians
          </div>
        </div>
        <hr/>

        <div class="row mb-5">
          <div class="col display-3 text-center header py-5">
              <b>#StrongerTogether</b>
          </div>
        </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="row">
                <div class="col alert alert-danger">
                  {% for message in messages %}
                    {{ message }}
                  {% endfor %}
                </div>
              </div>
          {% endif %}
        {% endwith %}
        {% endblock %}
    </div>
  </body>
  {% block scripts %}{% endblock %}
</html>