{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{super()}}
    {% for roll in nums %}
        <br>
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <br>
        <h2>Roll {{loop.index}}</h2>
        <table class="table table-bordered">
            <tbody>
                {% for num in roll %}
                    <td>
                        <i style="font-size:15px">{{loop.index}}) </i><b>{{num}}</b>
                    </td>
                    {% if loop.index is divisibleby(5) %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
        <form method="post" class="mt-5">
            <input type="submit" name="button" class="btn " value="Go back">
            <input type="submit" name="button" class="btn " value="Save">
            <input type="submit" name="button" class="btn   btn-danger" value="Start a new roll">
        </form>
    </div>
{% endblock %}
