{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
{{super()}}
<div class ="row">
    <div class="col-sm">
        <div class="display-4 font-weight-normal">
            <h1 class="display-4">Lucky Number Generator</h1>

            <form method="POST">
                <div class="row">
                    <div class="col-8">
                        <label for="min">Min:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <input class="form-control inputText"type="number" name="min" autofocus required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <label for="max">Max:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <input class="form-control inputText"type="number" name="max"required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <input class="btn btn-primary" type="submit" name="button" value="Submit" />
                    </div>
                </div>
            </form>
            {% if error != None %}
                <h3>{{error}}</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
