{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
{{super()}}
<div class ="row">
    <div class="col-sm">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Lucky Number Generator</h1>

            <form method="POST">
                <label for="min">Min:</label>
                <input type="number" name="min" autofocus required/>
                <br>
                <label for="max">Max:</label>
                <input type="number" name="max"required/>
                <br>
                <input class="btn btn-primary" type="submit" name="button" value="Submit" />
            </form>
            {% if error != None %}
                <h3>{{error}}</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
