{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{super()}}
    <div class="display-4 font-weight-normal">
        <h1 class="display-4">Lucky Number Generator</h1>
        <form method="POST">
            <div class="row">
                <div class="col">
                    <label for="nNum">How many numbers?</label>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <input class="form-control inputText" type="number" name="nNum" autofocus required/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="btn " type="submit" name="button" value="Submit" />
                </div>
            </div>
        </form>
        {% if error != None %}
            <h3>{{error}}</h3>
        {% endif %}
    </div>
{% endblock %}
